name: Publish Package
on:
  workflow_dispatch: {}
  push:
    paths-ignore:
      - ".github/**"
      - "**.md"
    tags: ["*"]
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - linux/arm64
          - linux/amd64
          - linux/arm/v6
          - linux/arm/v7
          # - linux/ppc64le
    name: Publish Package job for ${{ matrix.platform }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - id: login-ghcr
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
      - id: login-dockerhub
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        continue-on-error: true
      - id: meta
        name: Docker meta
        uses: docker/metadata-action@v5
        with:
          images: |
            name=ghcr.io/${{ github.repository_owner }}/onnxruntime,enable=${{ steps.login-ghcr.outcome == 'success' }}
            name=docker.io/a76yyyy/onnxruntime,enable=${{ steps.login-dockerhub.outcome == 'success' }}
          tags: |
            type=edge,branch=main
            type=ref,event=tag
      - name: Publish Package
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
